@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap');

@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;

.text-9xl {
  font-size: 14rem;
}
@media (max-width: 645px) {
  .text-9xl {
    font-size: 5.75rem;
  }
  .text-6xl {
    font-size: 1.75rem;
  }
  .text-2xl {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .py-8 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .px-6 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .mr-6 {
    margin-right: 0.5rem;
  }
  .px-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo', sans-serif;
}
.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
